<%-include('./header.ejs');-%>
<div class="fifty"></div>
<a href="/user/login">
  <button class="btn btn-lg btn-primary">Login</button>
</a>
<div class="fifty"></div>
<a href="/newUser/register">
  <button class="btn btn-lg btn-success">Register</button>
</a>
<%-include('./footer.ejs');-%>
