<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Vaccine Center</title>
    <style type="text/css">
      *{
        text-align:  center;
      }
      body {
        margin : 10px;
        background: silver;
      }
      .vertispace{
        height: 100px;
      }
      .vertispace2{
        height: 50px;
      }
      #bott {
        position : fixed;
        bottom: 0px;
        width : 100%;
      }
      #cred{
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1>Asansol Vaccine Center Support</h1>
    <div class="vertispace"></div>
    <button class="btn btn-lg btn-primary">
      <a>Login</a>
    </button>
    <div class="vertispace2"></div>
    <button class="btn btn-lg btn-success">
      <a>Register</a>
    </button>
    <h3 id="bott">Project by - 
      <a href="https://www.linkedin.com/in/purplevarun" id="cred">Varun Kedia</a>
    </h3>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>