<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="refresh" content="1" /> -->
    <title>Login Page</title>
    <style>
      * {
        text-align: center;
        font-family: monospace;
      }
      h1 {
        font-size: 40px;
      }
      form {
        border: 2px black solid;
        padding: 10px;
      }
      input {
        font-size: 20px;
        border: 2px solid black;
        border-radius: 10px;
      }
      input:focus {
        outline: none;
      }
      span {
        color: red;
      }
      button {
        font-size: 20px;
        border: 3px solid turquoise;
        background-color: turquoise;
        padding: 5px;
        border-radius: 10px;
      }
      button:hover {
        border: 3px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Login Page</h1>
    <form action="/login" method="post">
      <h2>Enter Email<span>*</span> :</h2>
      <input type="email" name="email" id="" required />

      <h2>Enter Password<span>*</span> :</h2>
      <input type="password" name="password" id="" required />
      <div style="height: 30px"></div>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
