<style>
	.chinchin{
		padding: 10px;
	}
</style>
<script>
	const goback = () => {
		window.history.back();
	}
</script>
<nav class="navbar navbar-dark bg-dark chinchin">
	<button class="btn-lg btn btn-primary" onclick="goback();">Go Back</button>
	<a href="/logout">
		<button class="btn btn-lg btn-danger">LogOut</button>
	</a>
</nav>
