<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../common.css" />
    <style>
      .form-container {
        border: 3px solid black;
        /* float: left; */
        padding: 20px;
        border-radius: 10px;
      }
      .gap {
        height: 70vh;
        float: left;
      }
      .left {
        /* width: 550px; */
      }
      input {
        border-radius: 10px;
      }
    </style>
    <title>Register Page</title>
  </head>
  <body>
    <h1>Register Page</h1>
    <div class="fifty"></div>
	
    <div class="gap left"></div>
    <div class="form-container">
      <div style="height: 70px">
        <div class="<%=type%>"><%= msg %></div>
      </div>
      <form action="/register" method="post" enctype='multipart/form-data'>
        <h2>Enter Email</h2>
        <h2><input type="text" name="email" /></h2>
        <br />
        <h2>Enter Name</h2>
        <h2><input type="text" name="name" /></h2>
        <br />
        <h2>Enter Password</h2>
        <h2><input type="password" name="pass" /></h2>
        <br />
        <h2>Upload Profile Picture</h2>
        <div>
          <input
            type="file"
            name="photo"
            style="border-radius: 0px; border: none"
          />
        </div>
        <br /><br />
        <button class="btn btn-lg btn-danger">Register</button>
      </form>
    </div>
    <div class="gap right"></div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
