<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Profile of <%=info['username']%></title>
    <style>
    	h1{
    		text-align: center;
    	}
    	*{
    		margin: 10px;
    	}
    </style>
    <script>
    	window.onload = () =>{
	    	document.querySelector("#back").onclick = () => {
	    		window.location.href = "/welcome";
	    	};
    	}
    </script>
  </head>
  <body>
    	<h1>User : <%=info['username']%></h1>
    	<div style="height:50px"></div>
    	<div class="mainstuff">
    		<h2 style="text-decoration:underline">Your Info :</h2>
    		<div style="height:20px"></div>
    		<h2>Email : <%=info['email']%></h2>
    		<h2>
    			Your Vaccine Doses :
    			<select>
    				<option>None Taken</option>
    				<option>1 Dose Taken</option>
    				<option>2 Doses Taken</option>
    			</select>
    		</h2>
    	</div>
    	<div style="height:100px"></div>
    	<div style="text-align:center">
    		<button id="back">Go Back</button>
    	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>