* {
  text-align: center;
}
.creds {
  font-size: 20px;
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.msgs {
  width: 400px;
}
.fifty {
  height: 50px;
}
.hundred {
  height: 100px;
}
.twenty {
  height: 20px;
}
input {
  border: solid 3px black;
}
input:focus {
  outline: none;
}
