body {
  text-align: center;
}
.fif {
  height: 50px;
}
.hund {
  height: 100px;
}
.tw {
  height: 20px;
}
.cred {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}
input {
  border-radius: 10px;
  outline: none;
  border-width: 3px;
  border-color: black;
}
input:focus {
  outline: none;
  border-color: limegreen;
}
.back {
  border: black;
  background-color: darkcyan;
  color: white;
  position: absolute;
  margin-left: 25px;
  margin-top: -20px;
}
.wrap {
  text-align: left;
}
